@font-face {
    font-family: 'Whiskey Town';
    src: url('../fonts/WhiskeyTown-Sober.eot');
    src: url('../fonts/WhiskeyTown-Sober.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WhiskeyTown-Sober.woff2') format('woff2'),
        url('../fonts/WhiskeyTown-Sober.woff') format('woff'),
        url('../fonts/WhiskeyTown-Sober.ttf') format('truetype'),
        url('../fonts/WhiskeyTown-Sober.svg#WhiskeyTown-Sober') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hey Haters';
    src: url('../fonts/HeyHaters.eot');
    src: url('../fonts/HeyHaters.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HeyHaters.woff2') format('woff2'),
        url('../fonts/HeyHaters.woff') format('woff'),
        url('../fonts/HeyHaters.ttf') format('truetype'),
        url('../fonts/HeyHaters.svg#HeyHaters') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik One';
    src: url('../fonts/RubikOne-Regular.eot');
    src: url('../fonts/RubikOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RubikOne-Regular.woff2') format('woff2'),
        url('../fonts/RubikOne-Regular.woff') format('woff'),
        url('../fonts/RubikOne-Regular.ttf') format('truetype'),
        url('../fonts/RubikOne-Regular.svg#RubikOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fluffy Gichi';
    src: url('../fonts/FluffyGichi-Regular.eot');
    src: url('../fonts/FluffyGichi-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FluffyGichi-Regular.woff2') format('woff2'),
        url('../fonts/FluffyGichi-Regular.woff') format('woff'),
        url('../fonts/FluffyGichi-Regular.ttf') format('truetype'),
        url('../fonts/FluffyGichi-Regular.svg#FluffyGichi-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

