@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import 'variables';
@import 'fonts';
@import 'index';
@import 'components';

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}